.title {
  position: relative;
}
.ifYouWant {
  margin-block-start: 0;
  margin-block-end: 0;
}
.pleaseAuthenticateWith {
  margin: 0;
}
.text {
  position: relative;
  font-size: var(--text2-size);
  letter-spacing: 0.01em;
  font-weight: 500;
}
.textcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-2xl);
}
.googleIcon {
  position: relative;
  width: 28px;
  height: 28px;
  flex-shrink: 0;
  overflow: hidden;
}
.btnText,
.contentscontainer {
  display: flex;
  align-items: center;
}
.btnText {
  border-radius: var(--br-md);
  background-color: var(--mono-01);
  border: 1px solid var(--mono-2001);
  box-sizing: border-box;
  width: 382px;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-sm);
  justify-content: center;
  gap: var(--gap-sm);
  font-size: var(--title41-size);
}
.contentscontainer {
  flex-direction: column;
  padding: 0 0 var(--padding-2xl);
  justify-content: flex-start;
  gap: var(--gap-4xl);
  text-align: center;
  font-size: var(--title21-size);
  color: var(--mono-5001);
  font-family: var(--title31);
}
