.logoIcon {
  position: relative;
  width: 132px;
  height: 25px;
  flex-shrink: 0;
}
.btnname {
  position: relative;
  font-weight: 500;
}
.btnText,
.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.btnText {
  border-radius: var(--br-md);
  border: 1px solid var(--mono-500);
  padding: var(--padding-3xs) var(--padding-sm);
  justify-content: center;
}
.nav {
  align-self: stretch;
  padding: var(--padding-2xs) var(--padding-sm);
  justify-content: space-between;
  text-align: center;
  font-size: var(--text11-size);
  color: var(--color-black);
  font-family: var(--title31);
}
