.btnname,
.logo {
  position: relative;
}
.btnname {
  font-weight: 500;
}
.btnText,
.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.btnText {
  border-radius: var(--br-md);
  border: 1px solid var(--mono-500);
  padding: var(--padding-3xs) var(--padding-sm);
  justify-content: center;
}
.nav {
  align-self: stretch;
  padding: var(--padding-2xs) var(--padding-sm);
  justify-content: space-between;
}
.body,
.negativedim {
  position: absolute;
  top: 0;
  left: 0;
  width: 1280px;
  height: 832px;
}
.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.negativedim {
  background-color: rgba(255, 255, 255, 0.9);
}
.logoIcon {
  position: absolute;
  top: 330px;
  left: 326px;
  width: 628px;
  height: 119px;
}
.loading {
  position: relative;
  background-color: var(--mono-0);
  width: 100%;
  height: 832px;
  overflow: hidden;
  text-align: center;
  font-size: var(--text11-size);
  color: var(--color-black);
  font-family: var(--title31);
}
